@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --bg-preto: rgb(0, 0, 0);
  --nao-metal: rgb(180, 210, 100);
  --gas-nobre: rgb(100, 180, 225);
  --metal-alcalino: rgb(245, 200, 100);
  --metal-alcalino-terroso: rgb(240, 230, 90);
  --semimetal: rgb(110, 200, 190);
  --halogenio: rgb(170, 225, 255);
  --outros-metais: rgb(190, 210, 210);
  --metal-transicao: rgb(245, 175, 175);
  --lantanideo: rgb(150, 225, 225);
  --actinidio: rgb(230, 190, 220);
  --dificuldade-facil: rgb(0, 255, 0);
}

body {
  font: 1em/1 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 5%;
  background: var(--bg-preto);
}

h2{
  text-align: left;
}

ul .intro_li a{
  display: block;
  list-style-type: none;
}

/* FOREGROUND COLOR VARIABLES */
#dificuldade-facil {
  color: var(--dificuldade-facil);
}

#dificuldade-facil {
  height: 6em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nao-metal {
  color: var(--nao-metal);
}

.gas-nobre {
  color: var(--gas-nobre);
}

.metal-alcalino {
  color: var(--metal-alcalino);
}

.metal-alcalino-terroso {
  color: var(--metal-alcalino-terroso);
}

.semimetal {
  color: var(--semimetal);
}

.halogenio {
  color: var(--halogenio);
}

.outros-metais {
  color: var(--outros-metais);
}

.metal-transicao {
  color: var(--metal-transicao);
}

.lantanideo {
  color: var(--lantanideo);
}

.actinidio {
  color: var(--actinidio);
}

/* TYPOGRAPHY STYLES */
h1 {
  margin: 0.5em 0;
  font-size: calc(3vw + 2rem);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2em;
}

p:last-child {
  font-size: 0.8em;
}

/* GRID CONTAINER STYLES */
main {
  margin: auto;
  max-width: 45em;
  display: flex;
}

#grid-container {
  flex-grow: 1;
  min-width: 7em;
}

.col-hidden {
  display: none;
}

/* GRID CELL */
section {
  height: 7em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index {
  height: 7em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  margin-bottom: 0.4em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

span {
  font-size: 0.75em;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

/* FOOTER */
footer {
  font-size: 0.8em;
  text-align: left;
  flex-basis: 13.5rem;
  margin: -0.25em 0 0 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 1em;
}

li {
  flex-basis: 100%;
  line-height: 1.25;
  margin-bottom: 1em;
}

li:before {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.125em solid;
  border-radius: 0.125rem;
  margin-right: 0.5em;
  position: relative;
  top: 0.25em;
}

.cabecalho:before {
  border: none;
  border-radius: none;
}

.cabecalho:hover {
  transition: 0.2s;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 2;
  color-adjust: inherit;
}

@media only screen and (min-width: 92.5em) {
  @supports (display: grid) {
    /* GLOBAL STYLES */

    body {
      font-size: 0.65em;
      padding: 2em;
    }

    /* GRID CONTAINER STYLES */

    main {
      max-width: 130.5em;
      display: block;
    }

    #grid-container {
      display: grid;
      grid-template-columns: repeat(18, 7em);
      grid-gap: 0.25em;
    }

    .col-span16 {
      grid-column: span 16;
    }

    .col-span10 {
      grid-column: span 10;
    }

    .col-span3 {
      grid-column: span 3;
    }

    .col-hidden {
      display: block;
      visibility: hidden;
    }

    /* GRID CELL */

    section {
      margin: 0;
    }

    section:hover {
      transition: 0.2s;
      transform: scale(1.5);
      cursor: pointer;
      z-index: 2;
    }

    #dificuldade-facil:hover {
      transition: 0.1s;
      transform: scale(1.5);
      cursor: initial;
      z-index: 2;
    }

    ul {
      justify-content: center;
    }

    li {
      flex-basis: auto;
      margin-bottom: 0;
    }

    li + li {
      margin-left: 2em;
    }
  }
}

@media only screen and (min-width: 102.5em) {
  /* GLOBAL STYLES */
  body {
    font-size: 0.75em;
  }
}

.linha {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.icon {
  display: inline-block;
  font-size: 44px;
  animation: float 5s ease-in-out infinite;
}

.ri-facebook-circle-line {
  animation-delay: 1s;
  color: #3b5998;
}

.ri-whatsapp-line {
  animation-delay: 2s;
  color: #34af23;
}

.ri-instagram-line {
  color: #cc2366;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.icons-wrapper {
  text-align: center;
  padding-top: 25px;
}
