@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --bg-preto: rgb(0, 0, 0);
  --nao-metal: rgb(180, 210, 100);
  --gas-nobre: rgb(100, 180, 225);
  --metal-alcalino: rgb(245, 200, 100);
  --metal-alcalino-terroso: rgb(240, 230, 90);
  --semimetal: rgb(110, 200, 190);
  --halogenio: rgb(170, 225, 255);
  --outros-metais: rgb(190, 210, 210);
  --metal-transicao: rgb(245, 175, 175);
  --lantanideo: rgb(150, 225, 225);
  --actinidio: rgb(230, 190, 220);
  --dificuldade-facil: rgb(0, 255, 0);
}

/* quando for maior que 1024px ele aplica essas fig para deixar responsivo*/
/*=== GERAL =================================*/
body {
  overflow: auto;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 1em/1 'Montserrat', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 0.5em; /*5%;*/
  /* padding: 0.2rem 2%; */
  background: var(--bg-preto);
  overflow: overlay;
}

ul .intro_li a {
  display: block;
  list-style-type: none;
}

.elemento {
  border-radius: 100rem;
  padding: 1em;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  color: hsl(0, 0%, 33%);
  text-decoration: none;
  border: solid 0.3rem transparent;
  border-radius: 0.4rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, hsl(192, 100%, 74%), hsl(163, 56%, 44%));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0.2rem 100rem 0.1rem
    linear-gradient(101deg, hsl(192, 100%, 74%), hsl(163, 56%, 44%)) inset;
}

.elemento:hover {
  box-shadow: none;
  color: white;
}
.table {
  display: flex;
  justify-content: center;
}
.tabela_curiosidade {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

#grid-container-curiosidade {
  display: grid;
  /* row-gap: 50px; */
  grid-template-areas:
    'tabela_curiosidade tabela_curiosidade tabela_curiosidade'
    'sectioncuriosidade sectioncuriosidade sectioncuriosidade';
  align-content: stretch;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: repeat(3, 5%); */
  /* grid-gap: 0.25em;
  justify-content: space-around;
  align-items: end;
  justify-items: center; */
}
section.sectioncuriosidade {
  height: 10em;
  width: 10em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabela,
.tabela thead {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1rem;
  border-radius: 1.9rem;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
}
.tabela th,
.tabela td {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
  text-align: center;
}
/* FOREGROUND COLOR VARIABLES */
#dificuldade-facil {
  color: var(--dificuldade-facil);
}

#dificuldade-facil {
  height: 6em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nao-metal {
  color: var(--nao-metal);
}

.gas-nobre {
  color: var(--gas-nobre);
}

.metal-alcalino {
  color: var(--metal-alcalino);
}

.metal-alcalino-terroso {
  color: var(--metal-alcalino-terroso);
}

.semimetal {
  color: var(--semimetal);
}

.halogenio {
  color: var(--halogenio);
}

.outros-metais {
  color: var(--outros-metais);
}

.metal-transicao {
  color: var(--metal-transicao);
}

.lantanideo {
  color: var(--lantanideo);
}

.actinidio {
  color: var(--actinidio);
}

/* TYPOGRAPHY STYLES */
h1 {
  margin: 0.5em 0;
  font-size: calc(3vw + 2rem);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2em;
}

p:last-child {
  font-size: 0.8em;
}

/* GRID CONTAINER STYLES */
main {
  margin: auto;
  max-width: 45em;
  display: flex;
}

#grid-container {
  flex-grow: 1;
  min-width: 7em;
}

.col-hidden {
  display: none;
}

/* GRID CELL */
section {
  height: 7em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index {
  height: 7em;
  background: var(--bg-preto);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  margin-bottom: 0.4em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

span {
  font-size: 0.75em;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

/* FOOTER */
footer {
  font-size: 0.8em;
  text-align: left;
  flex-basis: 13.5rem;
  margin: -0.25em 0 0 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 1em;
}

li {
  flex-basis: 100%;
  line-height: 1.25;
  margin-bottom: 1em;
}

li:before {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.125em solid;
  border-radius: 0.125rem;
  margin-right: 0.5em;
  position: relative;
  top: 0.25em;
}

.cabecalho_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.cabecalho-imagem {
  left: 23px;
  top: 0px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Montserrat', sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}
.cabecalho-menu-item:hover {
  box-shadow: none;
  color: rgb(117, 218, 201);
}

.cabecalho:before {
  border: none;
  border-radius: none;
}

.cabecalho:hover {
  transition: 0.2s;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 2;
  color-adjust: inherit;
}

/* @media only screen and (min-width: 92.5em) { */
@media only screen and (min-width: 45.5rem) {
  @supports (display: grid) {
    /* GLOBAL STYLES */

    section p {
      font-size: 0.65rem;
    }

    /* GRID CONTAINER STYLES */

    main {
      max-width: 130.5em;
      display: block;
    }

    #grid-container {
      display: grid;
      grid-template-columns: repeat(18, 5%);
      grid-gap: 0.25em;
      justify-content: center;
    }

    .col-span16 {
      grid-column: span 16;
    }

    .col-span10 {
      grid-column: span 10;
    }

    .col-span3 {
      grid-column: span 3;
    }

    .col-hidden {
      display: block;
      visibility: hidden;
    }

    /* GRID CELL */

    section {
      margin: 0;
    }

    section:hover {
      transition: 0.2s;
      transform: scale(1.5);
      cursor: pointer;
      z-index: 2;
    }

    #dificuldade-facil:hover {
      transition: 0.1s;
      transform: scale(1.5);
      cursor: initial;
      z-index: 2;
    }

    ul {
      justify-content: center;
    }

    li {
      flex-basis: auto;
      margin-bottom: 0;
    }

    li + li {
      margin-left: 2em;
    }
  }
}



.linha {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 11.8rem) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.icon {
  display: inline-block;
  font-size: 4.4rem;
  animation: float 5s ease-in-out infinite;
}

.ri-facebook-circle-line {
  animation-delay: 1s;
  color: hsl(221, 44%, 41%);
}

.ri-whatsapp-line {
  animation-delay: 2s;
  color: hsl(113, 67%, 41%);
}

.ri-instagram-line {
  color: hsl(336, 71%, 47%);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.icons-wrapper {
  text-align: center;
  padding-top: 2.5rem;
}

.form-group {
  text-align: left;
}

fieldset {
  display: block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 0.2rem groove (internal value);
}

legend {
  font-size: 1rem;
  text-align: left;
  background-color: #78e4ff;
  color: white;
  padding: 0.5rem 1rem;
  color: black;
}

label {
  font-size: 1rem;
  margin: auto;
}

input,
select {
  margin: 0.5rem;
  font: 1em/1 'Montserrat', sans-serif;
}

textarea {
  margin-top: 0.7rem;
  letter-spacing: 1px;
  font: 1em/1 'Montserrat', sans-serif;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.voltar {
  border-radius: 100rem;
  padding: 1em;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  color: #555555;
  text-decoration: none;
  border: solid 0.3rem transparent;
  border-radius: 0.4rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #32b08d);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0.2rem 100rem 0.1rem linear-gradient(101deg, #78e4ff, #32b08d)
    inset;
}

.voltar:hover {
  box-shadow: none;
  color: white;
}

.page-header {
  border-top: 1px solid #2b3235;
  /* /* border-top: 0.2px solid #FFF2E7; */
}

.curiosidade {
  margin: 0;
}

.facil {
  align-items: flex-end;
}

.card {
  background-image: linear-gradient(to right, #32b08d, #78e4ff);
  color: #2b3235;
  font-size: 1.2rem;
}

.btn {
  margin: 0;
  padding: 0;
}

.btn_resposta{
  /* height: 76px;
  width: 200px; */
  align-items: center;
  background-image: linear-gradient(rgba(20, 163, 163, 0.267), rgba(179, 52, 52, 0.133));
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

}

main.pagedesafios{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 2%;
  gap: 0.5rem;
  font-size: 1.0rem;
  
}

main.pagedesafios h2{
  color:#59b99e;
  font-size: 1.4rem;
}

main.pagedesafios h3{
  font-size: 1.2rem;
}