{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <div class="jumbotron">
        <h1 class="display-4">
            {{ title }}
            <!--<img src="{{url_for('static', filename='banho.jpg')}}" width="250" height="250" class="rounded mx-auto d-block" alt="Imagem responsiva">-->
            </h1>
     </div>

        </br>
        <a class="elemento" href="{{url_for('nova_classe')}}">Nova classe</a>
        </br>
        </br>
    </br>
</br>
<div class="table">
        <table class="tabela">
            <thead class="tabela" bgcolor="#32b08d">
                <tr>
                    <th>Nome da Classe</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead bgcolor= "#FFFAFA">
            <tbody>
            {% for classe in classes %}
                <tr>
                    <td>{{ classe._nome_classe }}</td>
                    <td><a class="btn_desafio btn-secondary" href="{{url_for('editar_classe', id=classe._id)}}">Editar</a> </td>
                    <td><a class="btn_desafio btn-danger" href="{{url_for('deletar_classes', id=classe._id)}}">Deletar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}