{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <div class="jumbotron">
        <h1 class="display-4">
            {{ title }}
            <!--<img src="{{url_for('static', filename='banho.jpg')}}" width="250" height="250" class="rounded mx-auto d-block" alt="Imagem responsiva">-->
            </h1>
     </div>

        </br>
        <a class="elemento" href="{{url_for('nova_pergunta')}}">Nova Pergunta</a>
        </br>
        </br>
    </br>
</br>
    <div class="table">
        <table class="tabela">
            <thead class="tabela" bgcolor="#32b08d">
                <tr>
                    <th>Nome da Pergunta</th>
                    <th>Descrição da Pergunta</th>
                    <th>Massa Atômica</th>
                    <th>Resposta</th>
                    <th>Desafio</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead bgcolor= "#FFFAFA">
            <tbody>
            {% for pergunta in perguntas %}
                <tr>
                    <td>{{ pergunta._nome_pergunta }}</td>
                    <td>{{ pergunta._descricao }}</td>
                    <td>{{ pergunta._resposta }}</td>
                    <td>{{ pergunta._desafio_id}}</td>
                    <td><a class="btn btn-secondary" href="{{url_for('editar_elemento', id=elemento._id)}}">Editar</a> </td>
                    <td><a class="btn btn-danger" href="{{url_for('deletar', id=elemento._id)}}">Deletar</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}