{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <div class="jumbotron">
        <h1 class="display-4">
            {{ title }}
            <!--<img src="{{url_for('static', filename='banho.jpg')}}" width="250" height="250" class="rounded mx-auto d-block" alt="Imagem responsiva">-->
            </h1>
     </div>

        </br>
        <a class="elemento" href="{{url_for('novo_elemento')}}">Novo Elemento</a>
        </br>
        </br>
    </br>
</br>
    <div class="table">
        <table class="tabela">
            <thead class="tabela" bgcolor="#32b08d">
                <tr>
                    <th>Nome do Elemento</th>
                    <th>Número Atômico</th>
                    <th>Massa Atômica</th>
                    <th>Estado Físico</th>
                    <th>Símbolo</th>
                    <th>Distribuição Eletrônica</th>
                    <th>Classe</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead bgcolor= "#FFFAFA">
            <tbody>
            {% for elemento in elementos %}
                <tr>
                    <td>{{ elemento._nome_elemento }}</td>
                    <td>{{ elemento._num_atomico }}</td>
                    <td>{{ elemento._massa_atomica }}</td>
                    <td>{{ elemento._estado_fisico}}</td>
                    <td>{{ elemento._simbolo }}</td>
                    <td>{{ elemento._distribuicao_eletronica }}</td>
                    <td>{{ elemento._nome_classe }}</td>
                    <td><a class="btn_desafio btn-secondary" href="{{url_for('editar_elemento', id=elemento._id)}}">Editar</a> </td>
                    <td><a class="btn_desafio btn-danger" href="{{url_for('deletar', id=elemento._id)}}">Deletar</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}