<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/tabela.png">

    <title>Tabela Periódica</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container" align="center">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul id="messages" class="list-unstyled">
              {% for message in messages %}
                  <li class="alert alert-success">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}
    <form class="form-signin" method="POST" action="/autenticar">
      <input type="hidden" name="proxima" value="{{proxima}}">
      <img class="mb-4" src="/static/tabela.png" alt="" >
      <h1 class="h3 mb-3 font-weight-normal">Por favor, faça o seu login!</h1>
      <label for="inputEmail" class="sr-only">Usuário</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Usuário" name="usuario" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div>
        <p>Ainda não possui conta?
          <a href="cadastrar.html">
            <b>Cadastre-se!
            </b>
          </a>
        </p>
      </div>
      <button class="elemento" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; Tabela Periódica - Amanda, Daiane e Tiago - 2022</p>
    </form>
  </body>
</html>