{% extends "template.html" %} {% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
<div class="jumbotron">
  <h1 class="display-4">{{ title }}</h1>
</div>
<form action="/criar_curiosidades" method="post">
  <fieldset>
    <legend>Nova Curiosidade</legend>
    <div class="form-group">
      <label for="tipo">Tipo de Curiosidade:</label>
      <input type="text" id="tipo" name="tipo" class="form-control" />
    </div>
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" class="curiosidade">
    </div>
    <div class="form-group">
      <label for="elemento">Elemento:</label>
      <select class="form-select" id="elemento" name="elemento">
        {% for elemento in elementos %}
        <option value="{{elemento._id}}">{{elemento._nome_elemento}}</option>
        {% endfor %}
      </select>
    </div>
    <button class="elemento" type="submit">Salvar</button>
    <a class="voltar" href="{{url_for('lista_curiosidades')}}">Voltar </a>
  </fieldset>
</form>
{% endblock %}
