<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Stylised_atom_with_three_Bohr_model_orbits_and_stylised_nucleus.png/250px-Stylised_atom_with_three_Bohr_model_orbits_and_stylised_nucleus.png">

    </head>
    <body>
        <div>
            <section>
                <div class="dificuldade-facil"></div>
            </section>
            <button class="button1"><input type="image"src="imagens/easy.PNG" height ="80" width="200"/><br>1</button>
            <button class="button1"><input type="image"src="imagens/easy.PNG" height ="80" width="200" /><br>2</button>
            <button class="button1"><input type="image"src="imagens/easy.PNG" height ="80" width="200" /><br>3</button>
            <button class="button2"><input type="image"src="imagens/medium.PNG" height ="80" width="200"/><br>4</button>
            <button class="button2"><input type="image"src="imagens/medium.PNG" height ="80" width="200"/><br>5</button>
            <button class="button2"><input type="image"src="imagens/medium.PNG" height ="80" width="200"/><br>6</button>
            <button class="button3"><input type="image"src="imagens/hard.PNG" height ="80" width="200"/><br>7</button>
            <button class="button3"><input type="image"src="imagens/hard.PNG" height ="80" width="200"/><br>8</button>
            <button class="button3"><input type="image"src="imagens/hard.PNG" height ="80" width="200"/><br>9</button>
        </div>
    </body>
</html>