{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}" />
<link href='https://css.gg/file-document.css' rel='stylesheet'>
    <div class="jumbotron">
        <h1 class="display-4">
            {{ title }}
        </h1>
    </div>
        <h1 id="p9">TUDO O QUE VOCÊ PRECISA SABER
           
        </h2>
            <div class="intro"><a class="elementos" href="#p1" >Resumo sobre a tabela Periódica</a></div>
            <div class="intro"><a class="elementos"href="#p2" >Origem e História</a></div>
            <div class="intro"><a class="elementos" href="#p3" >Organização da Tabela Periódica</a></div>
            <div class="intro"><a class="elementos"href="#p4" >Propriedades Periódicas</a></div>
            <div class="intro"><a class="elementos"href="#p5" >Distribuição eletrônica</a></div>
            <div class="intro"><a class="elementos"href="#p6" >Camadas eletrônicas</a></div>
            <div class="intro"><a class="elementos"href="#p7" >Subníveis de Energia – Diagrama de Linus Pauling</a></div>
           <div class="cont">
               <h3 id = "p1">Resumo sobre a tabela Periódica</h3>
               <p >A Tabela Periódica organiza todos os elementos já descobertos pelos seres humanos.</p>
               <p>Os elementos químicos são colocados em ordem crescente de número atômico.</p>
               <p>Nas suas colunas, chamadas de grupos, estão os elementos com propriedades físico-químicas semelhantes.</p>
               <p>Nas suas linhas, chamadas de períodos, está indicada a camada eletrônica mais energética do elemento.</p>
               <p>A Tabela tem várias subdivisões, diferenciando os elementos em metal ou ametal, representativos ou de transição, além de subdividi-los de acordo com sua distribuição eletrônica.</p>
               <p>Tabela Periódica foi desenvolvida pelo químico russo Dmitri Mendeleev, em 1869, e foi sendo aprimorada ao longo dos anos até sua forma atual.</p>
               <p></p>
               
    
           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class="cont">
               <h3 id = "p2">Origem e História</h3>
               <p >Embora a criação da Tabela Periódica seja creditada a Dmitri Mendeleev, o químico russo foi bastante influenciado por diversos cientistas.</p>
               <p>Antoine-Laurent Lavoisier, na sua célebre obra Tratado elementar de química, de 1789, listava 33 elementos, gases, metais, não metais e elementos terrosos. Posteriormente, Lavoisier retirou alguns desses elementos, classificando-os como compostos, assim como retirou a luz, que não fez mais parte dessa classificação. Contudo, 25 dos elementos de Lavoisier se encontram na Tabela Periódica atual.</p>
               <p>Posteriormente, Johann Wolfgang Döbereiner apresentou, em 1817, a chamada lei das tríades, em que agrupava trios de elementos de acordo com suas propriedades químicas, de modo que o elemento do meio tivesse uma massa atômica que fosse aproximadamente a média aritmética dos outros dois.</p>
               <p>Em 1862, Alexandre-Émile Béguyer de Chancourtois desenvolveu a classificação tridimensional conhecida como parafuso telúrico, em que organizava os elementos em uma hélice e em ordem crescente de massa atômica. Fato é que Chancourtois percebeu propriedades periódicas em seu agrupamento, porém o geólogo teve dificuldade na difusão de suas ideias, não só pelo fato do modelo ser tridimensional, mas também por sua linguagem ser diferente da comumente utilizada pelos químicos.</p>
               <p>A lei das oitavas surgiu posteriormente, proposta por John Newlands, em 1863. Newlands organizou os elementos de propriedades semelhantes em 11 grupos, e, além disso, tais propriedades se repetiam após oito elementos. O nome oitavas faz referência às oitavas musicais.</p>
               <p>Embora, inicialmente, seu trabalho tenha sido considerado vago e confuso, posteriormente Newlands foi premiado por ele, em 1887, ao receber a Medalha Davy da Real Sociedade de Londres. Contudo, tais modelos sempre apresentavam lacunas e não conseguiam abranger todos os elementos já conhecidos.</p>
               <p>Foi então que, em 1860, no Congresso de Karlsruhe, 129 químicos se reuniram para padronizar formas de nomear e conceituar os conteúdos de pesquisas químicas, diferenciando termos como átomo e molécula. Stanislao Cannizzaro, um dos palestrantes do congresso, apresentou um estudo sobre um novo sistema de massas atômicas, entregando cópias de seu artigo aos presentes.</p>
               <p>Dmitri Mendeleev e Julius Lothar Meyer estavam entre os presentes, e então receberam uma cópia do trabalho de Cannizzaro. Por meio das ideias deste, Meyer desenvolveu uma Tabela com 28 dos 56 elementos já conhecidos e, em 1868, trabalhou em uma Tabela Periódica que incluía todos os elementos químicos conhecidos. Em 1869, contudo, Mendeleev publicou então sua Tabela Periódica.</p>
               <p>Sem dúvida alguma, a proximidade das publicações gerou conflitos, tanto que, em 1892, a Real Sociedade de Londres premiou ambos com a Medalha Davy. Contudo, a Tabela de Mendeleev vigorou, pois previa a existência de elementos ainda não descobertos, deixando espaços vazios, e, além disso, ao incluir elementos conhecidos e desconhecidos, levava em consideração diversas propriedades físicas e químicas, podendo, inclusive, antever quais seriam as propriedades dos elementos a serem descobertos.</p>
               <p>Contudo, a Tabela Periódica de Mendeleev é um instrumento de pesquisa e aberta a constantes revisões. O próprio Mendeleev realizou alterações posteriormente ao incluir um oitavo grupo, que ele chamou de elementos de transição, por conta de uma quebra de periodicidade acarretada pela inclusão do ferro. William Ramsay, no final do século XIX, acrescentou à Tabela os gases nobres, enquanto Alfred Werner deu a ela uma cara mais próxima da que conhecemos ao incluir o bloco d, formando uma série de transição.</p>
               <p>Os trabalhos de Henry Moseley, em 1913, rearranjaram a Tabela Periódica, uma vez que ele enunciou a lei periódica, afirmando que “as propriedades físicas e químicas dos elementos são funções periódicas de seus números atômicos”. Criou-se então o conceito de número atômico, em que cada elemento teria seu próprio número, fazendo com que a Tabela agora fosse organizada em ordem crescente de números atômicos.</p>
               <p>Os trabalhos de Moseley tiraram as últimas lacunas de Mendeleev. Após isso, na década de 1950, McMillan e Seaborg descobriram os elementos transurânicos, aqueles com número atômico maior que 92, reconfigurando a Tabela Periódica e, assim, incluindo os lantanídeos e actinídeos.</p>
               <p>Desde então, a Tabela Periódica sofre pequenas inclusões de alguns elementos que vão sendo descobertos, sendo o último a ser incluído o elemento 118, oganessônio (Og), com os elementos tenesso (Ts), moscóvio (Mc) e nihônio (Nh).</p>
               <p>Quem determina a estrutura oficial e padrão da Tabela Periódica atualmente é a Iupac, assim como é esse órgão que regulariza as mudanças que ela deve sofrer</p>
               <p></p>
           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class="cont">
               <h3 id = "p3">Organização da Tabela Periódica</h3>
               <p>A Tabela Periódica tem grande utilidade porque consegue estabelecer padrões de organização para todos os elementos químicos descobertos pela humanidade até então. Atualmente são 118 elementos químicos, os quais são dispostos na Tabela em ordem crescente de números atômicos, da esquerda para a direita, iniciando no hidrogênio (número atômico igual a 1) e terminando no recém-incluído oganessônio (número atômico igual a 118).</p>
               <p>Contudo, a grande vantagem da Tabela Periódica é colocar elementos de propriedades físico-químicas semelhantes na mesma coluna. As colunas da Tabela podem ser chamadas de grupos ou família. Já as linhas, que dispõem os elementos em ordem crescente de número atômico, são chamadas de períodos.</p>
               <p><b>Famílias ou grupos</b> </p>
               <p>A Tabela Periódica conta com 18 linhas verticais (ou colunas), as quais podem ser chamadas de famílias ou grupos. Em cada coluna, estão dispostos elementos de propriedades físico-químicas semelhantes. A única exceção é o elemento químico hidrogênio, que, apesar de estar no grupo 1, não possui propriedades semelhantes aos demais.</p>
               <p>Podemos citar os elementos de uma família apenas falando seu número, como família (ou grupo) 1 ou família (ou grupo) 2, ou então citando o nome do seu primeiro elemento, como família (ou grupo) do ferro, família (ou grupo) do carbono.</p>
               <p></p>
               <table class="tabela">
                   <thead class="tabela" bgcolor="#32b08d">
                       <tr>
                           <th>Grupo</th>
                           <th>Nome</th>
                       </tr>
                       
                   </thead bgcolor= "#FFFAFA">
                   <tbody>
                    <tr>
                        <td>Grupo 1</td>
                        <td>Metais alcalinos</td>
                    </tr>
                    <tr>
                     <td>Grupo 2</td>
                     <td>Metais alcalino-terrosos ou alcalinos terrosos </td>
                 </tr>
                 <tr>
                     <td>Grupo 15</td>
                     <td>Pinictogênios </td>
                 </tr>
                 <tr>
                     <td>Grupo 16</td>
                     <td>Calcogênios </td>
                 </tr>
                 <tr>
                     <td>Grupo 17</td>
                     <td>Halogênios </td>
                 </tr>
                 <tr>
                     <td>Grupo 18</td>
                     <td>Gases nobres </td>
                 </tr>
                   </tbody>
               </table>

           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class="cont">
               <h3 id = "p4"> Propriedades Periódicas</h3>
               <p>Uma das grandes vantagens da Tabela Periódica são as propriedades periódicas. Quando organizamos os elementos tal como fizeram Mendeleev ou Moseley, percebemos que ocorre uma periodicidade dessas propriedades, o que quer dizer que elementos com propriedades semelhantes se repetem regularmente.</p>
               <p>São propriedades periódicas:</p>
               <p></p>
               <ol>
                <li class=" cabecalho"></li>
                <li class="cabecalho"><b>Raio atômico:</b> é uma propriedade utilizada para dimensionar o tamanho dos átomos. Quanto mais à esquerda e mais abaixo, maior o raio do elemento. Assim, o frâncio (Fr) é o elemento de maior raio. Contudo, os elementos do quinto e sexto períodos do bloco d possuem raios semelhantes, por conta de um efeito que ocorre nos lantanídeos chamado de contração lantanídica ou contração lantânica. Tal fenômeno, causado pela menor eficiência de blindagem dos subníveis f, faz com que haja um decréscimo no raio atômico do cério (Ce) ao lutécio (Lu), fazendo com que elementos como prata (Ag) e ouro (Au) ou paládio (Pd) e platina (Pt) tenham raios atômicos de tamanhos semelhantes.</li>
                <li class="cabecalho"><b>Energia (ou potencial) de ionização:</b> é a energia necessária para se retirar um elétron de valência de um átomo isolado no estado gasoso. Quanto menor for o átomo, mais difícil será a retirada do elétron de valência, pois mais próximo ao núcleo estará esse elétron.</li>
                <li class="cabecalho"><b>Afinidade eletrônica ou eletroafinidade:</b> é a variação de energia quando um elétron se liga a um átomo isolado na fase gasosa. Caso muita energia seja liberada nesse processo, isso significa que o átomo tem grande afinidade ou atração por elétrons. De modo geral, átomos menores têm maior afinidade eletrônica.</li>
                <li class="cabecalho"><b>Eletronegatividade:</b> a habilidade de um átomo em atrair elétrons para si em uma ligação química. Quanto menor o átomo, maior a eletronegatividade.</li>
                <li class="cabecalho"><b>Densidade:</b> o elemento mais denso da Tabela Periódica é o ósmio (Os), assim, a densidade dos elementos aumenta quanto mais próximos do ósmio eles estão. A densidade não faz referência à massa do átomo dividida por seu raio atômico, mas sim à sua substância simples mais estável.</li>
                <li class="cabecalho"><b>Pontos de fusão e ebulição:</b> o elemento de maior ponto de fusão é o tungstênio (W), enquanto o de maior ponto de ebulição é o rênio (Re). Quanto mais próximo o elemento for desses átomos, maiores serão seus pontos de fusão e ebulição. A única exceção são os metais alcalinos e alcalino-terrosos, cujos pontos de fusão e ebulição aumentam com a diminuição do tamanho do átomo.</li>
               </ol>
           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class = "cont">
            <h3 id="p5">Distribuição eletrônica</h3>
            <p>A distribuição eletrônica refere-se ao modo em que os elétrons estão distribuídos nas camadas ou níveis de energia que ficam ao redor do núcleo do átomo.

                O modelo atômico de Rutherford-Böhr mostra que o átomo possui um núcleo com prótons e nêutrons, além de uma eletrosfera formada por várias camadas eletrônicas, com valores de energia específicos para cada tipo de átomo.</p>
                <p></p>
           </div>
           <div class="cont">
            <h3 id="p6">Camadas eletrônicas</h3>
            <p>Para os elementos conhecidos atualmente, existem, no máximo, sete camadas que são representadas, respectivamente (de dentro para fora), pelas letras K, L, M, N, O, P e Q.</p>
            <p></p>
            
           </div>
           <img src="https://static.todamateria.com.br/upload/58/78/5878b0550e7b6-distribuicao-eletronica.jpg">
           <div class="cont">
            <p>Denomina-se de distribuição eletrônica em camadas a distribuição que leva em consideração apenas a quantidade de elétrons máxima em cada uma das camadas (segundo o átomo de Bohr) de um átomo.</p>
            <p></p>
           <ol>
            <li class="cabecalho"></li>
            <li class="cabecalho">K = 2 elétrons</li>
            <li class="cabecalho">L = 8 elétrons</li>
            <li class="cabecalho">M = 18 elétrons</li>
            <li class="cabecalho">N = 32 elétrons</li>
            <li class="cabecalho">O = 32 elétrons</li>
            <li class="cabecalho">P = 18 elétrons</li>
            <li class="cabecalho">Q = 8 elétrons</li>
           </ol>
           <p>Para realizar uma distribuição eletrônica em camadas, é necessário saber o número atômico do átomo, respeitar o limite de elétrons e seguir as seguintes regras:</p>
           <ol>
            <li class="cabecalho"></li>
            <li class="cabecalho"><b>Regra 1:</b> Se o número de elétrons for suficiente, a primeira (camada K) e a segunda (camada K) camada do átomo devem sempre receber o máximo de elétrons, que é 2 e 8, respectivamente;</li>
            <li class="cabecalho"><b>Regra 2:</b> A penúltima camada a receber elétrons nunca pode exceder o limite de 18 elétrons;</li>
            <li class="cabecalho"><b>Regra 3:</b> A última camada a receber elétrons nunca pode exceder o limite de oito elétrons;</li>
            <li class="cabecalho"><b>Regra 4:</b> Quando há mais elétrons do que cabe na última camada, devemos sempre repetir o número de elétrons da camada anterior e posicionar os elétrons restantes na próxima camada.</li>
           </ol>
           <br>
           <p><b>Exemplo:</b> Distribuição em camadas do elemento sódio, cujo número atômico é 11.</p>
           <p>Como o número atômico do sódio é 11, seus átomos apresentam 11 elétrons. Sua distribuição será realizada da seguinte forma:</p>
           <p>Camada K = 2 elétrons</p>
           <p>Dos onze elétrons, a camada K receberá apenas dois, pois esse é seu limite de elétrons (regra 1).</p>
           <p>Camada L = 8 elétrons</p>
           <p>Dos nove elétrons restantes, a camada L receberá apenas oito, pois esse é seu limite de elétrons (regra 2).</p>
           <p>Camada M = 1 elétron</p>
           <p>Como restou apenas um elétron dos onze que o átomo de sódio apresentava, ele deve ser posicionado na camada M, que é a próxima após a camada L.</p>
           <p></p>
           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class="cont">
            <h3 id="p7">Subníveis de Energia – Diagrama de Linus Pauling</h3>
            <p>O Diagrama de Pauling, também conhecido como Diagrama de Energia, é a representação da distribuição eletrônica através de subníveis de energia.</p>
            <p>Através do esquema, o químico Linus Carl Pauling (1901-1994) sugeriu algo além do que já havia com relação à distribuição de elétrons dos átomos de elementos químicos.</p>
            <p>Para melhorar a disposição, Pauling propôs os subníveis de energia. Através deles, seria possível dispor os elétrons do menor ao maior nível de energia de um átomo no seu estado fundamental.</p>
            <p>De acordo com o modelo proposto por Pauling, a eletrosfera está dividida em 7 camadas eletrônicas (K, L, M, N, O, P e Q) ao redor do núcleo atômico, sendo que cada uma delas permite um número máximo de elétrons, que são 2, 8, 18, 32, 32,18 e 8, respectivamente.</p>
            <p>Na distribuição de eletrônica também foram atribuídos os subníveis de energia, apresentando primeiro o elétron de menor energia até chegar ao elétron de energia maior.</p>
            <p></p>
           </div>
           <div class="cont">
            <table class="tabela">
                <thead class="tabela" "tabela" bgcolor="#32b08d">
                    <tr>
                        <th></th>
                        <th>Camada Eletrônicas</th>
                        <th>N° Máximo de Elétrons</th>
                        <th colspan="4">Subníveis de Energia</th>
                    </tr>

                </thead bgcolor= "#FFFAFA">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>K</td>
                        <td>2 e<sup>-</sup></td>
                        <td>1s<sup>2</sup></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>L</td>
                        <td>8 e<sup>-</sup></td>
                        <td>2s<sup>2</sup></td>
                        <td>2p<sup>6</sup></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>M</td>
                        <td>18 e<sup>-</sup></td>
                        <td>3s<sup>2</sup></td>
                        <td>3p<sup>6</td>
                        <td>3d<sup>10</sup></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>N</td>
                        <td>32 e<sup>-</sup></td>
                        <td>4s<sup>2</sup></td>
                        <td>4p<sup>6</td>
                        <td>4d<sup>10</sup></td>
                        <td>4f<sup>14</sup></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>O</td>
                        <td>32 e<sup>-</sup></td>
                        <td>5s<sup>2</sup></td>
                        <td>5p<sup>6</td>
                        <td>5d<sup>10</sup></td>
                        <td>5f<sup>14</sup></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>P</td>
                        <td>18 e<sup>-</sup></td>
                        <td>6s<sup>2</sup></td>
                        <td>6p<sup>6</td>
                        <td>6d<sup>10</sup></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Q</td>
                        <td>8 e<sup>-</sup></td>
                        <td>7s<sup>2</sup></td>
                        <td>7p<sup>6</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
           </div>
           <div class="cont">
            <p>A camada K tem apenas um subnível (s), a camada L tem dois subníveis (s e p), a camada m tem três subníveis (s, p e d) e, assim, respectivamente.</p>
            <p>Os subníveis s permitem até 2 elétrons, enquanto os subníveis p permitem até 6 elétrons. Na sequência, os subníveis d permitem até 10 elétrons, enquanto os subníveis f permitem até 14 elétrons.</p>
            <p>Repare que a soma dos elétrons comportados em cada subnível por camada eletrônica resulta no número máximo de elétrons em cada uma das 7 camadas.</p>
            <p>K : s<sup>2</sup> = 2</p>
            <p>L  e Q : s<sup>2</sup> + p<sup>6</sup></p>
            <p>M e P: s<sup>2</sup> + p<sup>6</sup> + d<sup>10</sup></p>
            <p>N e O : s<sup>2</sup> + p<sup>6</sup> + d<sup>10</sup> + f<sup>14</sup></p>
            <p>Foi, então, que Pauling descobriu a ordem crescente de energia:</p>
            <p>1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>6</sup>5s<sup>2</sup>4d<sup>10</sup>5p<sup>6</sup>6s<sup>2</sup>4f<sup>14</sup>5d<sup>10</sup>6p<sup>6</sup>7s<sup>2</sup>5f<sup>14</sup>6d<sup>10</sup>7p<sup>6</sup></p>
            <p>A partir daí surgem as setas diagonais no esquema para fazer a distribuição eletrônica dos elementos:</p>
            <p></p>
           </div>
           <img src="https://www.stoodi.com.br/wp-content/uploads/2019/12/Diagrama-de-Pauling-1.png">
           <div class="cont">
            <p><b>Exemplo da distribuição eletrônica do fósforo <sub>15</sub>P:</b></p>
            <p>1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>3</sup></p>
            <p>Como até 3s<sup>2</sup> já tínhamos um total de 12 elétrons (2 + 2 + 6 + 2), precisamos apenas de mais 3 elétrons do subnível 3p<sup>6</sup>.</p>
            <p>Assim, podemos ir buscar a quantidade necessária de elétrons, desde que ela não seja superior a 6, que é o número máximo que o subnível 3p<sup>6</sup> comporta.</p>
            <p></p>
           </div>
           <a class="elementos" href="#p9">Voltar ao Topo</a>
           <div class="cont">
            <p><b>Créditos</b></p>
            <a href="https://brasilescola.uol.com.br/quimica/tabela-periodica.htm#Propriedades+peri%C3%B3dicas">Brasil Escola</a><br>
            <a href="https://www.manualdaquimica.com/quimica-geral/distribuicao-eletronica.htm">Manual da Química</a><br>
            <a href="https://www.todamateria.com.br/diagrama-de-pauling/">Toda Matéria</a><br>
           </div>
            {% endblock %}
